In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
! pip install xlrd # to handle Excel files

! pip install scipy
! pip install rpy2

import scipy
from scipy.stats.stats import pearsonr

from rpy2.robjects.packages import importr
from rpy2.robjects.vectors import FloatVector

stats = importr('stats')

import csv

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


! pip install pydrive
# these classes allow you to request the Google drive API
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive 
from google.colab import auth 
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

file_id = '1nrnfi0fdyKMMpcYc9PEI-iAe1hbjILfb'
downloaded = drive.CreateFile({'id': file_id})
# allows you to temporarily load your file in the notebook VM

downloaded.GetContentFile('Achilles_gene_effect_2020q4.csv')
depmap = pd.read_csv("Achilles_gene_effect_2020q4.csv", sep=',')

depmap.head()

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.18.5)
Requirement already satisfied: rpy2 in /usr/local/lib/python3.6/dist-packages (3.2.7)
Requirement already satisfied: simplegeneric in /usr/local/lib/python3.6/dist-packages (from rpy2) (0.8.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from rpy2) (2018.9)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.6/dist-packages (from rpy2) (1.5.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from rpy2) (2.11.2)
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from rpy2) (3.6.4)
Requirement already satisfied: cffi>=1.13.1 in /usr/local/lib/python3.6/dist-packages (from rpy2) (1.14.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->rpy2) (1.1.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from pytest->rpy2) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest->rpy2) (50.3.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest->rpy2) (20.3.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest->rpy2) (8.6.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest->rpy2) (0.7.1)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->rpy2) (1.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->rpy2) (1.9.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi>=1.13.1->rpy2) (2.20)
Requirement already satisfied: pydrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from pydrive) (1.7.12)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pydrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from pydrive) (3.13)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (1.17.2)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (3.0.1)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (1.15.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (0.0.4)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (0.17.4)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (0.2.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (4.6)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (0.4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->pydrive) (4.1.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->pydrive) (50.3.2)

    DepMap_ID  A1BG (1)  A1CF (29974)  ...  ZYX (7791)  ZZEF1 (23140)  ZZZ3 (26009)
0  ACH-000004  0.181332      0.089101  ...    0.284734       0.226412     -0.149566
1  ACH-000005 -0.076383      0.245190  ...    0.074640       0.028779     -0.264840
2  ACH-000007  0.102195      0.092449  ...    0.048714      -0.372854     -0.433157
3  ACH-000009  0.142342     -0.033126  ...    0.218682      -0.074750     -0.551760
4  ACH-000011  0.280082      0.088898  ...    0.111173      -0.227417     -0.349564

[5 rows x 18120 columns]

In [2]:
file_id = '1hmbJBbDlqfSrq7YvhZlCKWwisFTeOZkH'
downloaded = drive.CreateFile({'id': file_id})
# allows you to temporarily load your file in the notebook VM

downloaded.GetContentFile('third-partypathogens_combined_top_hits_15screens_gt2_pathogens.csv')
all_pathogen_genes = pd.read_csv("third-partypathogens_combined_top_hits_15screens_gt2_pathogens.csv", sep=',')

all_pathogen_genes.head()

    gene
0  VPS53
1   COG3
2  SCFD1
3   COG4
4  VPS54

In [3]:
file_id = '1tPKF62wB0gAEjeoiO7Y0Yfl9-BYZpL4t'
downloaded = drive.CreateFile({'id': file_id})
# allows you to temporarily load your file in the notebook VM

downloaded.GetContentFile('primary-screen-replicate-collapsed-treatment-info.csv')
drugs = pd.read_csv("primary-screen-replicate-collapsed-treatment-info.csv", sep=',')

drugs.head()

                                   column_name  ...     phase
0  BRD-A00055058-001-01-0::2.325889319::MTS004  ...   Phase 2
1          BRD-A00842753-001-01-9::2.5::MTS004  ...   Phase 2
2          BRD-A02232681-001-01-8::2.5::MTS004  ...  Launched
3          BRD-A04447196-001-01-8::2.5::MTS004  ...  Launched
4   BRD-A04971881-003-01-3::2.65294603::MTS004  ...  Launched

[5 rows x 11 columns]

In [4]:
file_id = '1LgLjrInt-su5dhQRpm2LURVOZ0mzfBLy'
downloaded = drive.CreateFile({'id': file_id})
# allows you to temporarily load your file in the notebook VM

downloaded.GetContentFile('primary_screen_replicate_collapsed_logfold_change.csv')
screen = pd.read_csv("primary_screen_replicate_collapsed_logfold_change.csv", sep=',')

screen.head()

              Unnamed: 0  ...  BRD-M63173034-001-03-6::2.64076472::MTS004
0             ACH-000001  ...                                    0.510464
1             ACH-000007  ...                                    0.323558
2             ACH-000008  ...                                    0.099310
3  ACH-000010_FAILED_STR  ...                                    0.090652
4             ACH-000011  ...                                    0.222394

[5 rows x 4687 columns]

In [6]:
depmap.shape
drugs.shape
screen.shape
all_pathogen_genes.shape

(808, 18120)

(4686, 11)

(578, 4687)

(171, 1)

In [7]:
depmap_ = depmap

In [120]:
depmap = depmap_

In [8]:
drugs_ = drugs

In [121]:
drugs = drugs_

In [9]:
screen_ = screen

In [122]:
screen = screen_

In [10]:
all_pathogen_genes_ = all_pathogen_genes

In [123]:
all_pathogen_genes = all_pathogen_genes_

In [124]:
depmap.columns = list(map(lambda s: s.split()[0], depmap.columns))

depmap.head()

    DepMap_ID      A1BG      A1CF  ...       ZYX     ZZEF1      ZZZ3
0  ACH-000004  0.181332  0.089101  ...  0.284734  0.226412 -0.149566
1  ACH-000005 -0.076383  0.245190  ...  0.074640  0.028779 -0.264840
2  ACH-000007  0.102195  0.092449  ...  0.048714 -0.372854 -0.433157
3  ACH-000009  0.142342 -0.033126  ...  0.218682 -0.074750 -0.551760
4  ACH-000011  0.280082  0.088898  ...  0.111173 -0.227417 -0.349564

[5 rows x 18120 columns]

In [125]:
screen = screen.rename(columns = {'Unnamed: 0' : 'DepMap_ID'}) # 2020q2

#screen = screen.set_index('DepMap_ID')

screen.head()

               DepMap_ID  ...  BRD-M63173034-001-03-6::2.64076472::MTS004
0             ACH-000001  ...                                    0.510464
1             ACH-000007  ...                                    0.323558
2             ACH-000008  ...                                    0.099310
3  ACH-000010_FAILED_STR  ...                                    0.090652
4             ACH-000011  ...                                    0.222394

[5 rows x 4687 columns]

In [126]:
screen_rank = screen.rank()

screen_rank.head()

   DepMap_ID  ...  BRD-M63173034-001-03-6::2.64076472::MTS004
0        1.0  ...                                       504.0
1        2.0  ...                                       426.0
2        3.0  ...                                       237.0
3        4.0  ...                                       231.0
4        5.0  ...                                       351.0

[5 rows x 4687 columns]

In [127]:
take_top_X_genes = 50
take_top_X_genes = 250

In [128]:
screen_rank_lt50 = screen_rank.applymap(lambda x: 1 if ( x < take_top_X_genes) else 0 ) # (NaN if (pd.isnull(x)) else 0)

screen_rank_lt50.head()

   DepMap_ID  ...  BRD-M63173034-001-03-6::2.64076472::MTS004
0          1  ...                                           0
1          1  ...                                           0
2          1  ...                                           1
3          1  ...                                           1
4          1  ...                                           0

[5 rows x 4687 columns]

In [129]:
screen_rank_lt50['DepMap_ID'] = screen_['Unnamed: 0']
screen_rank_lt50.shape
screen_rank_lt50.head()

m = screen_rank_lt50['DepMap_ID'].isin(depmap['DepMap_ID'])
screen_rank_lt50 = screen_rank_lt50[m]

#del screen_rank_lt50['DepMap_ID']

screen_rank_lt50.shape
screen_rank_lt50.head()

(578, 4687)

               DepMap_ID  ...  BRD-M63173034-001-03-6::2.64076472::MTS004
0             ACH-000001  ...                                           0
1             ACH-000007  ...                                           0
2             ACH-000008  ...                                           1
3  ACH-000010_FAILED_STR  ...                                           1
4             ACH-000011  ...                                           0

[5 rows x 4687 columns]

(404, 4687)

    DepMap_ID  ...  BRD-M63173034-001-03-6::2.64076472::MTS004
1  ACH-000007  ...                                           0
4  ACH-000011  ...                                           0
5  ACH-000012  ...                                           0
6  ACH-000013  ...                                           1
7  ACH-000014  ...                                           0

[5 rows x 4687 columns]

In [130]:
screen_rank_lt50_sums = screen_rank_lt50.sum(axis=1) 

screen_rank_lt50_sums.head()

1    2233
4    1990
5    1833
6    1520
7    2264
dtype: int64

In [131]:
depmap_rank = depmap.rank()

depmap.head()
depmap_rank.head()

    DepMap_ID      A1BG      A1CF  ...       ZYX     ZZEF1      ZZZ3
0  ACH-000004  0.181332  0.089101  ...  0.284734  0.226412 -0.149566
1  ACH-000005 -0.076383  0.245190  ...  0.074640  0.028779 -0.264840
2  ACH-000007  0.102195  0.092449  ...  0.048714 -0.372854 -0.433157
3  ACH-000009  0.142342 -0.033126  ...  0.218682 -0.074750 -0.551760
4  ACH-000011  0.280082  0.088898  ...  0.111173 -0.227417 -0.349564

[5 rows x 18120 columns]

   DepMap_ID   A1BG   A1CF    A2M  A2ML1  ...  ZYG11A  ZYG11B    ZYX  ZZEF1   ZZZ3
0        1.0  596.0  461.0   69.0   40.0  ...   753.0    37.0  737.0  800.0  740.0
1        2.0   51.0  753.0  797.0  310.0  ...    80.0   639.0  249.0  748.0  627.0
2        3.0  370.0  473.0  444.0  368.0  ...   205.0   104.0  200.0   70.0  282.0
3        4.0  503.0  141.0  425.0  113.0  ...   338.0     6.0  624.0  625.0  119.0
4        5.0  757.0  460.0  664.0  792.0  ...   582.0   245.0  349.0  235.0  471.0

[5 rows x 18120 columns]

In [132]:
depmap_rank_lt50 = depmap_rank.applymap(lambda x: 1 if (x< take_top_X_genes) else 0 ) # (NaN if (pd.isnull(x)) else 0)

depmap_rank_lt50.head()

   DepMap_ID  A1BG  A1CF  A2M  A2ML1  ...  ZYG11A  ZYG11B  ZYX  ZZEF1  ZZZ3
0          1     0     0    1      1  ...       0       1    0      0     0
1          1     1     0    0      0  ...       1       0    1      0     0
2          1     0     0    0      0  ...       1       1    1      1     0
3          1     0     1    0      1  ...       0       1    0      0     1
4          1     0     0    0      0  ...       0       1    0      1     0

[5 rows x 18120 columns]

In [133]:
depmap_rank_lt50['DepMap_ID'] = depmap['DepMap_ID']


depmap_rank_lt50.shape
depmap_rank_lt50.head()

n = depmap_rank_lt50['DepMap_ID'].isin(screen_['Unnamed: 0'])
depmap_rank_lt50 = depmap_rank_lt50[n]

#del depmap_rank_lt50['DepMap_ID']

depmap_rank_lt50.shape
depmap_rank_lt50.head()

(808, 18120)

    DepMap_ID  A1BG  A1CF  A2M  A2ML1  ...  ZYG11A  ZYG11B  ZYX  ZZEF1  ZZZ3
0  ACH-000004     0     0    1      1  ...       0       1    0      0     0
1  ACH-000005     1     0    0      0  ...       1       0    1      0     0
2  ACH-000007     0     0    0      0  ...       1       1    1      1     0
3  ACH-000009     0     1    0      1  ...       0       1    0      0     1
4  ACH-000011     0     0    0      0  ...       0       1    0      1     0

[5 rows x 18120 columns]

(404, 18120)

    DepMap_ID  A1BG  A1CF  A2M  A2ML1  ...  ZYG11A  ZYG11B  ZYX  ZZEF1  ZZZ3
2  ACH-000007     0     0    0      0  ...       1       1    1      1     0
4  ACH-000011     0     0    0      0  ...       0       1    0      1     0
5  ACH-000012     1     0    0      0  ...       0       0    1      0     0
6  ACH-000013     0     0    0      0  ...       1       0    0      0     1
7  ACH-000014     0     1    0      0  ...       0       0    1      0     0

[5 rows x 18120 columns]

In [134]:
depmap_rank_lt50_sums = depmap_rank_lt50.sum(axis=1) 

depmap_rank_lt50_sums.head()

2    5439
4    5397
5    4925
6    4229
7    5865
dtype: int64

In [135]:
depmap_rank_lt50_sums_sum = depmap_rank_lt50_sums.sum()

depmap_rank_lt50_sums_sum

2200126

In [136]:
pathogen_genes_existing = ['DepMap_ID']
for col in all_pathogen_genes['gene'].to_list():
    if col in depmap_rank_lt50.columns:
      pathogen_genes_existing.append(col)

In [137]:
pathogen_depmap = depmap_rank_lt50[pathogen_genes_existing]

pathogen_depmap.head()
pathogen_depmap.shape

    DepMap_ID  VPS53  COG3  SCFD1  COG4  ...  URM1  ITPK1  VTI1B  TNPO2  AADAT
2  ACH-000007      1     0      0     0  ...     0      0      0      0      1
4  ACH-000011      0     1      0     0  ...     1      0      1      0      0
5  ACH-000012      0     0      1     0  ...     0      0      0      0      1
6  ACH-000013      1     0      1     0  ...     0      0      0      0      0
7  ACH-000014      0     0      0     0  ...     1      1      1      0      0

[5 rows x 167 columns]

(404, 167)

In [138]:
pathogen_depmap_sums = pathogen_depmap.sum(axis=1) 

pathogen_depmap_sums.head()

2    60
4    49
5    42
6    37
7    46
dtype: int64

In [139]:
pathogen_depmap_sums_sum = pathogen_depmap_sums.sum()

pathogen_depmap_sums_sum

19783

In [140]:
screen_rank_lt50_i = screen_rank_lt50.set_index('DepMap_ID')
screen_rank_lt50_i.head()

            BRD-A00077618-236-07-6::2.5::HTS  ...  BRD-M63173034-001-03-6::2.64076472::MTS004
DepMap_ID                                     ...
ACH-000007                                 1  ...                                           0
ACH-000011                                 0  ...                                           0
ACH-000012                                 0  ...                                           0
ACH-000013                                 0  ...                                           1
ACH-000014                                 0  ...                                           0

[5 rows x 4686 columns]

In [141]:
#screen_rank_lt50_i = screen_rank_lt50.set_index('DepMap_ID')

depmap_rank_lt50_i = depmap_rank_lt50.set_index('DepMap_ID')
depmap_rank_lt50_i.head()
pathogen_depmap_i = pathogen_depmap.set_index('DepMap_ID')
pathogen_depmap_i.head()

            A1BG  A1CF  A2M  A2ML1  A3GALT2  ...  ZYG11A  ZYG11B  ZYX  ZZEF1  ZZZ3
DepMap_ID                                    ...
ACH-000007     0     0    0      0        0  ...       1       1    1      1     0
ACH-000011     0     0    0      0        0  ...       0       1    0      1     0
ACH-000012     1     0    0      0        0  ...       0       0    1      0     0
ACH-000013     0     0    0      0        0  ...       1       0    0      0     1
ACH-000014     0     1    0      0        0  ...       0       0    1      0     0

[5 rows x 18119 columns]

            VPS53  COG3  SCFD1  COG4  VPS54  ...  URM1  ITPK1  VTI1B  TNPO2  AADAT
DepMap_ID                                    ...
ACH-000007      1     0      0     0      1  ...     0      0      0      0      1
ACH-000011      0     1      0     0      0  ...     1      0      1      0      0
ACH-000012      0     0      1     0      0  ...     0      0      0      0      1
ACH-000013      1     0      1     0      0  ...     0      0      0      0      0
ACH-000014      0     0      0     0      0  ...     1      1      1      0      0

[5 rows x 166 columns]

In [ ]:
depmap_rank_lt50_sums_list = depmap_rank_lt50_sums.to_list()
depmap_rank_lt50_sums_list

In [ ]:
depmap_rank_lt50_sums_list = depmap_rank_lt50_sums.to_list()
depmap_rank_lt50_sums_list

In [ ]:
pathogen_depmap_sums_list = pathogen_depmap_sums.to_list()
pathogen_depmap_sums_list

In [145]:
screen_rank_lt50_all_mul = screen_rank_lt50_i.mul(pd.Series(depmap_rank_lt50_sums_list, index=screen_rank_lt50_i.index.to_list()), axis='index')

screen_rank_lt50_all_mul.head()
screen_rank_lt50_all_mul.shape

            BRD-A00077618-236-07-6::2.5::HTS  ...  BRD-M63173034-001-03-6::2.64076472::MTS004
DepMap_ID                                     ...
ACH-000007                              5439  ...                                           0
ACH-000011                                 0  ...                                           0
ACH-000012                                 0  ...                                           0
ACH-000013                                 0  ...                                        4229
ACH-000014                                 0  ...                                           0

[5 rows x 4686 columns]

(404, 4686)

In [146]:
screen_rank_lt50_pathogens_only_mul = screen_rank_lt50_i.mul(pd.Series(pathogen_depmap_sums_list, index=screen_rank_lt50_i.index.to_list()), axis='index')

screen_rank_lt50_pathogens_only_mul.head()
screen_rank_lt50_pathogens_only_mul.shape

            BRD-A00077618-236-07-6::2.5::HTS  ...  BRD-M63173034-001-03-6::2.64076472::MTS004
DepMap_ID                                     ...
ACH-000007                                60  ...                                           0
ACH-000011                                 0  ...                                           0
ACH-000012                                 0  ...                                           0
ACH-000013                                 0  ...                                          37
ACH-000014                                 0  ...                                           0

[5 rows x 4686 columns]

(404, 4686)

In [147]:
screen_rank_lt50_all_mul_col_sum = screen_rank_lt50_all_mul.sum(axis=0)

screen_rank_lt50_all_mul_col_sum.head()

screen_rank_lt50_pathogens_only_mul_col_sum = screen_rank_lt50_pathogens_only_mul.sum(axis=0)

screen_rank_lt50_pathogens_only_mul_col_sum.head()

BRD-A00077618-236-07-6::2.5::HTS     957411
BRD-A00100033-001-08-9::2.5::HTS     919258
BRD-A00147595-001-01-5::2.5::HTS     964181
BRD-A00218260-001-03-4::2.5::HTS    1003173
BRD-A00376169-001-01-6::2.5::HTS     896525
dtype: int64

BRD-A00077618-236-07-6::2.5::HTS    8622
BRD-A00100033-001-08-9::2.5::HTS    8374
BRD-A00147595-001-01-5::2.5::HTS    8740
BRD-A00218260-001-03-4::2.5::HTS    9230
BRD-A00376169-001-01-6::2.5::HTS    8116
dtype: int64

In [148]:
depmap_rank_lt50_sums_sum
pathogen_depmap_sums_sum

2200126

19783

In [ ]:
screen_rank_lt50_pathogens_only_mul_col_sum.index

In [149]:
#df_merged = pd.merge(screen_rank_lt50_pathogens_only_mul_col_sum, screen_rank_lt50_all_mul_col_sum, left_index=True, right_index=True)

df_merged = pd.concat([screen_rank_lt50_pathogens_only_mul_col_sum, screen_rank_lt50_all_mul_col_sum], axis=1)
df_merged.head()

                                     0        1
BRD-A00077618-236-07-6::2.5::HTS  8622   957411
BRD-A00100033-001-08-9::2.5::HTS  8374   919258
BRD-A00147595-001-01-5::2.5::HTS  8740   964181
BRD-A00218260-001-03-4::2.5::HTS  9230  1003173
BRD-A00376169-001-01-6::2.5::HTS  8116   896525

In [56]:
# demo

import scipy.stats as stats
table = np.array([[  392,  39948],[  3543, 392383]])

oddsratio, pvalue = stats.fisher_exact(table)
print("OddsR: ", oddsratio, "p-Value:", pvalue)

OddsR:  1.0867510207526063 p-Value: 0.12160419002760908

In [ ]:
import scipy.stats as stats

def odds_ratio(x):
  oddsratio, pvalue = stats.fisher_exact([ [x[0], x[1]], [pathogen_depmap_sums_sum, depmap_rank_lt50_sums_sum]])

  return str(oddsratio) + "__" + str(pvalue)

df_final = df_merged.apply(odds_ratio, axis=1)

#df_final = pd.concat([df_merged, df_merged.apply(lambda s: pd.Series({'feature1':s+1, 'feature2':s-1}))], axis=1)


df_final.head()

In [65]:
df_final_ = df_final
drugs0 = drugs[['column_name', 'name']]
df_final = df_final.to_frame()
df_final['BRD_ID'] = df_final.index

df_final0 = df_final.merge(drugs0, how='left', left_on='BRD_ID', right_on='column_name')

In [66]:
df_final0.head()

                                         0  ...           name
0  1.0867510207526063__0.12160419002760908  ...   8-bromo-cGMP
1     1.034581270676339__0.580094855665435  ...     nifurtimox
2   0.9383081938132541__0.3336418588867909  ...  balaglitazone
3  1.0852956838105765__0.14139657706634287  ...   flutrimazole
4   0.9681617402822286__0.6337495507359023  ...            KBG

[5 rows x 4 columns]

In [85]:
df_final0[['odds','pval']] = df_final0[0].str.split("__", expand=True) 

df_final0 = df_final0.sort_values(by='odds', ascending=False)
df_final0.head()

                                         0  ...                 pval
0  1.0867510207526063__0.12160419002760908  ...  0.12160419002760908
1     1.034581270676339__0.580094855665435  ...    0.580094855665435
2   0.9383081938132541__0.3336418588867909  ...   0.3336418588867909
3  1.0852956838105765__0.14139657706634287  ...  0.14139657706634287
4   0.9681617402822286__0.6337495507359023  ...   0.6337495507359023

[5 rows x 6 columns]

In [75]:
! pip install pydrive
# these classes allow you to request the Google drive API
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive 
from google.colab import auth 
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

file_id = '1_Te26ihKLQ7TyK_XjlLs4jK4k_Kx-PLy' 
downloaded = drive.CreateFile({'id': file_id})
# allows you to temporarily load your file in the notebook VM

downloaded.GetContentFile('drug_calculated_properties.csv')
drugbank_calc = pd.read_csv('drug_calculated_properties.csv', sep=',')

file_id = '1b4NnapewD4ai3zLMUJ-PPUngvCDCXGOJ' 
downloaded = drive.CreateFile({'id': file_id})
# allows you to temporarily load your file in the notebook VM

downloaded.GetContentFile('drug.csv')
drugbank = pd.read_csv("drug.csv", sep=',')

Requirement already satisfied: pydrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from pydrive) (1.7.12)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from pydrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pydrive) (4.1.3)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (0.17.4)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (0.0.4)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (1.17.2)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (3.0.1)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (0.4.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (4.6)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->pydrive) (50.3.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->pydrive) (4.1.1)

In [76]:
drugbank_calc_ = drugbank_calc

In [77]:
drugbank_ = drugbank

In [69]:
drugbank.head()
drugbank_calc.head()

drugbank_merged = drugbank.merge(drugbank_calc, on='left', left_on='primary_key', right_on='parent_key')

drugbank_merged = drugbank.groupby

  primary_key  ...                                               msds
0     DB00001  ...  //s3-us-west-2.amazonaws.com/drugbank/msds/DB0...
1     DB00002  ...  //s3-us-west-2.amazonaws.com/drugbank/msds/DB0...
2     DB00003  ...  //s3-us-west-2.amazonaws.com/drugbank/msds/DB0...
3     DB00004  ...                                                NaN
4     DB00005  ...                                                NaN

[5 rows x 15 columns]

               kind  ... parent_key
0              logP  ...    DB00006
1              logS  ...    DB00006
2  Water Solubility  ...    DB00006
3              logP  ...    DB00006
4        IUPAC Name  ...    DB00006

[5 rows x 4 columns]

In [78]:
#drugbank_calc_ = drugbank_calc

drugbank_calc_pka_logP = drugbank_calc[(drugbank_calc['kind'] == 'logP') | (drugbank_calc['kind'] == 'pKa (strongest basic)')]
drugbank_calc_pka_logP.head()

                     kind  value    source parent_key
0                    logP  -0.76    ALOGPS    DB00006
3                    logP    -14  ChemAxon    DB00006
19  pKa (strongest basic)  11.88  ChemAxon    DB00006
26                   logP   1.04    ALOGPS    DB00007
29                   logP   -2.4  ChemAxon    DB00007

In [90]:
drugbank_calc_pka_logP.dtypes

kind          object
value         object
source        object
parent_key    object
dtype: object

In [93]:
drugbank_calc_pka_logP['value'] = drugbank_calc_pka_logP['value'].astype('float')
drugbank_calc_pka_logP_pivot = drugbank_calc_pka_logP.pivot_table(index='parent_key',columns='kind',values='value', aggfunc='mean')
drugbank_calc_pka_logP_pivot.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

kind parent_key  logP  pKa (strongest basic)
0       DB00006 -7.38                  11.88
1       DB00007 -0.68                  11.92
2       DB00014 -2.45                  10.82
3       DB00027  5.17                    NaN
4       DB00035 -3.55                  11.77

In [97]:
drugbank0 = drugbank[['primary_key', 'name']]

drugbank_calc_pka_logP_pivot0 = drugbank_calc_pka_logP_pivot.merge(drugbank0, how='left', left_on='parent_key', right_on='primary_key')
drugbank_calc_pka_logP_pivot0.head()

  parent_key  logP  pKa (strongest basic) primary_key          name
0    DB00006 -7.38                  11.88     DB00006   Bivalirudin
1    DB00007 -0.68                  11.92     DB00007    Leuprolide
2    DB00014 -2.45                  10.82     DB00014     Goserelin
3    DB00027  5.17                    NaN     DB00027  Gramicidin D
4    DB00035 -3.55                  11.77     DB00035  Desmopressin

In [98]:
df_final0_merged = df_final0.merge(drugbank_calc_pka_logP_pivot0, how='left', left_on=df_final0['name'].str.lower(), right_on=drugbank_calc_pka_logP_pivot0['name'].str.lower())

df_final0_merged.head()

           key_0  ...        name_y
0    methoxsalen  ...   Methoxsalen
1      bakuchiol  ...           NaN
2    ipratropium  ...   Ipratropium
3   nitazoxanide  ...  Nitazoxanide
4  cyanopindolol  ...           NaN

[5 rows x 12 columns]

In [99]:
df = df_final0_merged[['name_x', 'odds', 'pval', 'pKa (strongest basic)', 'logP']]

df.rename(columns = {'odds' : 'odds_ratio', 'pKa (strongest basic)':'pka'}, inplace = True)
df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          name_x          odds_ratio                    pval  pka   logP
0    methoxsalen   1.570000272206189   4.272044417692328e-13 -2.9  1.940
1      bakuchiol  1.5598422598816155  1.8250257170092502e-12  NaN    NaN
2    ipratropium  1.4757511672145793    5.77831731141155e-11 -2.7 -0.455
3   nitazoxanide  1.4415585765091017   1.768669495591181e-10 -4.2  2.130
4  cyanopindolol  1.4398454796648765   6.427667478188251e-10  NaN    NaN

In [104]:
df_ = df

df.dtypes

df['pval'] = df['pval'].astype(float)
df['odds_ratio'] = df['odds_ratio'].astype(float)

df.dtypes
#df = df.astype(float)

name_x         object
odds_ratio     object
pval           object
pka           float64
logP          float64
dtype: object

name_x         object
odds_ratio    float64
pval          float64
pka           float64
logP          float64
dtype: object

In [105]:
df = df.sort_values(by='odds_ratio', ascending=False)
df.head()

          name_x  odds_ratio          pval  pka   logP
0    methoxsalen    1.570000  4.272044e-13 -2.9  1.940
1      bakuchiol    1.559842  1.825026e-12  NaN    NaN
2    ipratropium    1.475751  5.778317e-11 -2.7 -0.455
3   nitazoxanide    1.441559  1.768669e-10 -4.2  2.130
4  cyanopindolol    1.439845  6.427667e-10  NaN    NaN

In [107]:
df = df.dropna()

In [117]:
all = df.shape[0]
all
print("\n")
all_cads = df[(df['pka'] < 11) & (df['pka'] > 6.5) & (df['logP'] > 2)].shape[0]
all_cads
print("\n")
all_sig = df[(df['pval'] <= 0.005) & (df['odds_ratio'] >= 1) ].shape[0]
all_sig
print("\n")
all_sig_cads = df[(df['pval'] <= 0.005) & (df['odds_ratio'] >= 1) & (df['pka'] < 11) & (df['pka'] > 6.5) & (df['logP'] > 2)].shape[0]
all_sig_cads
print("\n")
table = np.array([[  all_sig_cads,  all_sig],[  all_cads, all]])

oddsratio, pvalue = stats.fisher_exact(table)
print("OddsR: ", oddsratio, "p-Value:", pvalue)

2197

594

139

46

OddsR:  1.2240147276118498 p-Value: 0.267260544782076

In [60]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [150]:
df.to_csv('/drive/My Drive/WashU/Data/SSRIs/FOR_PAPER/CRISPRscreens_drug_ID/df_CRISPR_all_vs_pathogens_top50.csv', index=False)